div(
     fileDrop,
     [accept]="supportedExtensions",
     (fileOver)="onFileOver($event)",
     (fileDrop)="onFileChange($event)",
     [ngClass]="cssClass",   
     [ngStyle]="style?.layout",
)
    .img-ul-file-upload.img-ul-hr-inline-group
        label.img-ul-upload.img-ul-button([ngStyle]='style?.selectButton')
            .material-icons cloud_upload
            span([innerText]='buttonCaption')
            input(
                multiple,
                #input,
                type='file',
                [accept]='supportedExtensions',
                (change)='onFileChange(input.files)'
            )
        label.img-ul-clear.img-ul-button(
            *ngIf='fileCounter>0',
            (click)='deleteAll()',
            [ngStyle]='style?.clearButton'
        )
            span([innerText]='clearButtonCaption')
        .drop-ico
            .img-ul-drag-box-msg([innerText]='dropBoxMessage')

    p.img-ul-file-too-large(*ngIf='showFileTooLargeMessage', [innerText]='fileTooLargeMessage')

    .img-ul-container.img-ul-hr-inline-group(
        *ngIf='preview',
        [ngStyle]="style?.previewPanel"
    )
        .img-ul-image(
            *ngFor='let file of files',
            [ngStyle]='{"background-image": "url("+file.src+")"}'
        )
            .img-ul-loading-overlay(*ngIf='file.pending')
                .img-ul-spinning-circle
            .img-ul-x-mark(
                *ngIf='!file.pending',
                (click)='deleteFile(file)'
            )
                span.img-ul-close