mixin nav(...items)
    each item in items
        a(md-button, routerLink= item[0], routerLinkActive='active')
            .material-icons= item[1]

router-outlet
nav
    +nav(
        ['/dashboard', 'dashboard'],
        ['/add', 'person_add'],
        ['/heroes', 'view_list'],
        ['/setting', 'settings']
    )