mixin nav(...items)
    each item in items
        if item[0] === '/'
            a(routerLink='/')
                span.logo
        else
            a(
                md-button,
                routerLink= item[0],
                routerLinkActive='active',
                mdTooltip!= item[1]
            )
                .material-icons= item[2]

nav
    +nav(
        ['/dashboard', 'Hero Dashboard', 'dashboard'],
        ['/add', 'Add Hero', 'person_add'],
        ['/', '.logo'],
        ['/heroes', 'Hero List', 'view_list'],
        ['/setting', 'Setting', 'settings']
    )
section.main
    router-outlet