mixin tableTh(...items)
    each item in items
        if item[1]
            th(md-sort-header!= item[1])!= item[0]
        else
            th!= item

mixin tableTd(...items)
    each item in items
        td!= item

//- hero list
table(mdSort)
    tr
        +tableTh(
            ['ID', 'id'],
            ['Name', 'name'],
            ['Description'],
            ['Edit'],
            ['Delete']
        )
    
    tr(
        *ngFor='let hero of heroes',
        (click)='onSelect(hero)',
        [class.selected]='hero === selectedHero'
    )
        +tableTd(
            '{{hero.id}}',
            '{{hero.name}}',
            '{{hero.description}}'
        )
        td
            i.material-icons(*ngIf='hero !== selectedHero') edit
            i.material-icons(
                *ngIf='hero === selectedHero',
                (click)='goHeroDetail(hero.id)'
            ) description
        td
            i.material-icons delete

hr

//- hero-detail([hero]='selectedHero')
//- hero-pagination((heroPage)='onHeroPage($event)')
//- md-paginator(
//-     [length]='heroesLen',
//-     [pageSize]='pageSize',
//-     [pageSizeOptions]='pageSizeOptions',
//-     (page)='pageEvent = $event'
//- )






//- md-table(#table, [dataSource]='dataSource')
//-     ng-container(cdkColumnDef='id')
//-         md-header-cell(*cdkHeaderCellDef) ID
//-         md-cell(*cdkCellDef='let row') {{row}}
//-     ng-container(cdkColumnDef='name')
//-         md-header-cell(*cdkHeaderCellDef) Name
//-         md-cell(*cdkCellDef='let row') {{row}}
//-     ng-container(cdkColumnDef='description')
//-         md-header-cell(*cdkHeaderCellDef) Name
//-         md-cell(*cdkCellDef='let row') {{row}}
    
//-     md-header-row(*cdkHeaderRowDef='displayedColumns')
//-     md-row(*cdkRowDef='let row; columns: DisplayedColumns;')

//- hr