@import './../../assets/sass/main.scss';
a {
    color: #5DB558;
    &:hover {
        background: pink;
    }
    &.active {
        color: #203C63;
        background: #CDDEA4;
        font-weight: bold;
    }
}

table {
    td {
        @include ellipsis(50px);
        display: table-cell;        
    }
}

.selected {
    color: red;
}