mixin tableTh(...items)
    each item in items
        if item[1]
            th(md-sort-header!= item[1])!= item[0]
        else
            th!= item

mixin tableTd(...items)
    each item in items
        td(mdTooltip!= item)!= item

//- hero list
section(*ngIf='statesPage!=""; else elseBlock')
    table(
        mdSort,
        (mdSortChange)='sortData($event)'
    )
        //- table - header
        tr
            +tableTh(
                ['ID', 'id'],
                ['Name', 'name'],
                ['Description'],
                ['Edit'],
                ['Delete']
            )
        
        //- table - hero data
        tr(
            *ngFor='let hero of statesPage',
            (click)='onSelect(hero)',
            [class.selected]='hero === selectedHero'
        )
            +tableTd(
                '{{hero.id}}',
                '{{hero.name}}',
                '{{hero.description}}'
            )
            //- edit hero
            td
                i.material-icons(*ngIf='hero !== selectedHero') edit
                i.material-icons(
                    *ngIf='hero === selectedHero',
                    (click)='goHeroDetail(hero.id)'
                ) description
            //- delete hero
            td
                i.material-icons((click)='delHero(hero.id)') delete

    //- paginator
    md-paginator(
        [length]='heroesLen',
        [pageSize]='pageSize',
        [pageSizeOptions]='pageSizeOptions',
        (page)='paginatorEvent($event)'
    )

//- No hero data
ng-template(#elseBlock)
    p Pleace Add Hero!!!