//- hero detail
div(*ngIf='hero')
    h2 {{hero.name}} details!
    div
        label id:
        | {{hero.id}}
    div
        label name:
        input([(ngModel)]='hero.name', placeholder='name')

button(md-button, (click)='save()')
    .material-icons save
button(md-button, (click)='goBack()')
    .material-icons undo