//- hero-search
#search
    md-input-container
        input(mdInput, [(ngModel)]='query', placeholder="Search")
    ul.result
        li(
            *ngFor='let item of heroes | search:"id,name":query',
            (click)='goHeroDetail(item.id)'
        )
            span.id {{item.id}}
            span.name {{item.name}}
hr

ul.grid
    li(*ngFor="let hero of heroes", [routerLink]='["/detail", hero.id]')
        md-card
            md-card-header
                div.avatar(md-card-avatar)
                    img([src]='hero.avatar')
                md-card-title NO.{{hero.id}}
                md-card-subtitle {{hero.name}}
            md-card-content.desc {{hero.description}} 