.del {
    .material-icons {
        color: #DC2A4A;
    }
}
table {
    text-align: center;
    tr{
        th {
            background: #ddd;
            border: solid 1px #aaa;
        }
        &:nth-child(3n+1) {
            background: #bec;
        }
        &:nth-child(3n+2) {
            background: #ffb;
        }
        &:nth-child(3n) {
            background: #edf;
        }
        td {
            cursor: pointer;
        }
    }
}
.selected {
    background: rgba(180, 60, 10, .5) !important;
    .edit {
        display: none;
    }
}