button {
    width: 80px;
    margin: 20px 10px 0 0;
    &.save {
        background: #2C733C;
        i {
            color: #fff;
        }
    }
    &.back {
        background: #ddd;
    }
}
.hero-id {
    margin-bottom: 20px;
}
.hero-info {
    background: #eee;
    margin: 10px 0;
    font-size: 24px;
    padding: 10px 20px;
}