#search
    md-input-container
        input#search-box(
            placeholder="Search",
            mdInput, #searchBox,
            (keyup)='search(searchBox.value)'
        )
        i.material-icons search
    ul
        li.search-result(
            *ngFor='let hero of heroes | async',
            (click)='gotoDetail(hero)'
        ) {{hero.name}}