md-input-container
    input(mdInput, #heroName, placeholder="Hero Name:")

button(md-icon-button, (click)='add(heroName.value); heroName.value=\'\'')
    i.material-icons add_circle

.upload-avatar
    image-upload(
        [preview]='true',
        [maxFileSize]='61440',
        [extensions]='["jpg", "png", "gif"]',
        [max]='1',
        [headers]="[{header: 'Authorization', value: 'hero-avatar'}]",
        (onFileUploadFinish)='imageUploaded($event)',
        (isPending)='uploadStateChange($event)',
        (onRemove)='imageRemoved($event)',
        [buttonCaption]='"Select image"'
    )

table(mdSort, (mdSortChange)='sortData($event)')
    tr
        th(md-sort-header='id')
            button(md-button) ID
        th(md-sort-header='name')
            button(md-button) Name
        th Edit
        th Delete
    
    tr(
        *ngFor='let hero of heroes',
        (click)='onSelect(hero)',
        [class.selected]='hero===selectedHero'
    )
        td {{hero.id}}
        td {{hero.name}}
        td
            button(md-icon-button)
                i.edit.material-icons mode_edit
                i.material-icons(
                    *ngIf='hero===selectedHero',
                    (click)='gotoDetail()'
                ) description
        td
            button.del(md-icon-button, (click)='del(hero); $event.stopPropagation()')
                i.material-icons delete_forever
                